language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm

matrix:
    allo_failures:
        - php: hhvm

env:
    - PACKAGE_VERSION=0.x-dev

before_script:
    composer install

script: phpunit --configuration tests/phpunit.xml --coverage-text

notifications:
    email:
        tom@rawphp.org

before_deploy:
    zip -9 release.zip .
deploy:
    provider:     releases
    api-key:      GITHUB_API_KEY
    file:         release.zip
    skin_cleanup: TRUE
    on:
        tags:         TRUE
        all_branches: TRUE